In [13]:
import os
import json

In [18]:
with open('kaggle.json') as file:
    f = json.loads(file.read())
    os.environ['KAGGLE_USERNAME'] = f['username']
    os.environ['KAGGLE_KEY'] = f['key']

In [19]:
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from enum import Enum
from typing import Dict
from numbers import Number

# Урок 1

## Задача 1

Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information
    
Считать данные с помощью pandas

Вывести на экран первые 5 строк

Посмотреть на описание признаков и на их содержание

In [37]:
api = KaggleApi()
api.authenticate()

In [46]:
api.dataset_list_files('esratmaria/house-price-dataset-with-other-information').files

[kc_house_data.csv]

In [40]:
kaggle.api.dataset_download_files('esratmaria/house-price-dataset-with-other-information', path='.', unzip=True)

In [52]:
df = pd.read_csv([e.name for e in api.dataset_list_files('esratmaria/house-price-dataset-with-other-information').files if e.name.split('.')[-1] == 'csv'][0])

In [54]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [53]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4792,3856901435,20141027T000000,720000.0,4,2.00,1760,4500,1.5,0,0,...,7,1760,0,1906,0,98103,47.6711,-122.331,1740,4220
9671,1088700100,20141118T000000,905000.0,3,2.50,2930,9280,2.0,0,0,...,10,2930,0,1988,0,98007,47.6335,-122.151,2730,10090
7055,3329530480,20140701T000000,241000.0,3,2.00,1770,7000,1.0,0,0,...,7,1770,0,1986,0,98001,47.3321,-122.261,1510,10462
12604,8956000120,20140614T000000,735000.0,4,2.75,2450,4187,2.0,0,2,...,8,2450,0,2010,0,98027,47.5471,-122.016,2320,4187
6334,1426300842,20150428T000000,455850.0,3,2.25,1820,6000,1.0,0,0,...,7,1120,700,1964,0,98108,47.5684,-122.300,1970,6232

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

## Задача 2

Проведите первичный анализ данных

Изучите типы данных

Найдите количество пропущенных ячеек в данных

Посчитайте основные статистики по всем признакам и поизучайте их

Пишите выводы

In [56]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [57]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [67]:
np.shape(np.max((df == None).to_numpy(), axis=1))

(21613,)

In [71]:
print(f"C gропусками всего строк {np.sum(np.max((df == None).to_numpy(), axis=1))}")
print(f"По колонкам {list(zip(df.columns,np.sum((df == None).to_numpy(), axis=0)))}")

C gропусками всего строк 0
По колонкам [('id', 0), ('date', 0), ('price', 0), ('bedrooms', 0), ('bathrooms', 0), ('sqft_living', 0), ('sqft_lot', 0), ('floors', 0), ('waterfront', 0), ('view', 0), ('condition', 0), ('grade', 0), ('sqft_above', 0), ('sqft_basement', 0), ('yr_built', 0), ('yr_renovated', 0), ('zipcode', 0), ('lat', 0), ('long', 0), ('sqft_living15', 0), ('sqft_lot15', 0)]

Вывод: пропусков нет. В некоторых колонках есть выбросы.

## Задача 3

### Задача 3.1 - В каком диапазоне изменяются стоимости недвижимости?

In [73]:
print(f"min {df['price'].min()}, mean {df['price'].mean()}, median {df['price'].median()}, std {df['price'].std()}, {df['price'].max()}")

min 75000.0, mean 540088.1417665294, median 450000.0, std 367127.1964826997, 7700000.0

### Задача 3.2 - Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [75]:
(df['sqft_living']/df['sqft_lot']).mean()

0.32374472542047195

### Задача 3.3 - Как много домов с разными этажами в данных?

In [77]:
np.unique(df['floors'])

array([1. , 1.5, 2. , 2.5, 3. , 3.5])

### Задача 3.4 - Насколько хорошие состояния у домов в данных?

In [96]:
condition = df.groupby(['condition'], dropna=False).count()[['id']]
condition/ len(df)

                 id
condition
1          0.001388
2          0.007958
3          0.649193
4          0.262759
5          0.078703

### Задача 3.5 - Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [98]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

## Задача 4

### Задача 4.1 - Сколько в среднем стоят дома, у которых 2 спальни?

In [101]:
df.loc[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### Задача 4.2 - Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [104]:
df.loc[df['price'] > 600_000]['sqft_lot'].mean()

20442.524776214832

### Задача 4.3 - Как много домов коснулся ремонт?

In [108]:
len(df[df['yr_renovated']>0])

914

### Задача 4.4 - Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [114]:
df[df['grade']>10]['price'].mean() - df[df['grade']<4]['price'].mean()

1488885.1175298805

## Задача 5 - Выберите дом клиенту

### Задача 5.1 - Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [119]:
len(df[(df['waterfront']==1)&(df['bathrooms'] >= 3)&(df['sqft_basement'] > 0)])

41

### Задача 5.2 - Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [121]:
np.unique(df['condition'])

array([1, 2, 3, 4, 5])

In [124]:
smpl = df[((df['waterfront'] == 1) | (df['view'] == 4)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]
smpl['price'].min(), smpl['price'].max()

(1295000.0, 3000000.0)

### Задача 5.3 - Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [126]:
 df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['floors'] <= 150_000)]['condition'].mean()

3.1619047619047618